extends layout

append scripts
  script(src='/javascripts/account.js')

block content
  link(rel="stylesheet", href="/stylesheets/account.css", type="text/css")
  link(rel="stylesheet" href="/stylesheets/misc/alerts.css" type="text/css")

  a.buttonToMap(href='/root.pug') Žemėlapis
  main.container.pt-2.pt-sm-4
    div.mainHeader Banko sąskaita

    p.lead.mt-3
      | Vartotojo vardas: 
      strong= username
    p.lead.mt-3
      | Balansas: 
      strong#balance= balance

    form.formLogout(method='post' action='/logout')
      button(type='submit')#logout-btn.btn.btn-sm.btn-outline-danger Atsijungti

    if frozen 
      .alert.alert-danger
        | Ši sąskaita užšaldyta, todėl pervedimų daryti ir gauti negalima.

    if can_send && !frozen
      h2.h4.mb-3 Pervedimas
      form#transfer-form
        .form-group.row
          label.col-4.col-sm-3.col-md-2.col-form-label(for='to-account') Į sąskaitą
          .col-8.col-sm-9.col-md-10
            input#to-account.form-control(type='text' autocomplete='off' name='to_account' placeholder='Sąskaitos vartotojo vardas' required)
        .form-group.row
          label.col-4.col-sm-3.col-md-2.col-form-label(for='amount') Suma
          .col-8.col-sm-9.col-md-10
            input#amount.form-control(type='number' autocomplete='off' name='amount' required)
        .form-group
          button.btn.btn-primary(type='submit') Pervesti
      #transfer-success-template.mt-3.alert.alert-success.alert-dismissible.fade.show.d-none
        img.alertIcon(src='/images/account/tick.svg' height='80px' width='60px' alt='')
        <div class="alertContainer"><span class="alrt-amount"></span> <div class="alertText">sėkmingai pervesta į sąskaitą</div> <span class="alrt-account"></span>.</div>
        button.close(type='button' data-dismiss='alert')
          span &times;
      #transfer-failure-template.mt-3.alert.alert-danger.alert-dismissible.fade.show.d-none
        img.alertIcon(src='/images/account/exclamation-mark.svg' height='80px' width='22px' alt='')
        <div class="alertContainer"><div class="alertText"> Klaida: </div><span class="alrt-error"></span></div>
        button.close(type='button' data-dismiss='alert')
          span &times;


    if can_receive || can_send
      h2.h4.mb-3.mt-5 Įvykdyti pervedimai
      table#transactions.table
        thead
          tr.transactionHeader
            th.tableText Į/Iš
            th.tableText Suma
            th.tableText Laikas
        tbody
          each row in transactions
            tr(class=row.reverted ? 'reverted' : '')
              td.tableText= row.name
              if row.outgoing
                td.text-danger -#{row.amount}
              else
                td.text-success +#{row.amount}
              td.tableText= row.time
